<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">E-Banking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customers
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/customers" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Search Customers</a></li>
            <li><a class="dropdown-item" routerLink="/new-customer" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Add New Customer</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/accounts" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Accounts</a>
        </li>
      </ul>
      <div class="d-flex align-items-center bg-primary rounded-3 px-3 py-2 ms-auto">
        <ul class="navbar-nav flex-row">
          <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <span class="navbar-text text-white me-3">
              <i class="bi bi-person-circle"></i> {{ authService.getUsername() }}
            </span>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn()">
            <a class="btn btn-outline-light btn-sm" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn()">
            <a class="btn btn-light btn-sm ms-2" routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
