<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">E-Banking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
            Customers
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/customers" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Search Customers</a></li>
            <li *ngIf="authService.roles?.includes('ADMIN')"><a class="dropdown-item" routerLink="/admin/new-customer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add New Customer</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/accounts" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Accounts</a>
        </li>
      </ul>
      <div class="d-flex align-items-center bg-primary rounded-3 px-3 py-2 ms-auto" *ngIf="authService.isAuthenticated">

        <ul class="navbar-nav flex-row">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
              <span class="navbar-text text-white me-3">
                <i class="bi bi-person-circle"></i> {{ authService.username }}
              </span>
            </a>
            <ul class="dropdown-menu w-1/2">
              <li class="nav-item">
                <a class="dropdown-item" routerLink="/profile" routerLinkActive="active" routerLink="/profile"
                  *ngIf="authService.isAuthenticated">
                  <i class="bi bi-person-lines-fill"></i> Profile
                </a>
              </li>
              <li class="nav-item m-1">
                <button class="dropdown-item text-white bg-danger " routerLink="/profile" routerLinkActive="active"
                  *ngIf="authService.isAuthenticated" (click)="logout()">
                  <i class="bi bi-box-arrow-left  me-2"></i> Logout</button>
              </li>
            </ul>
          </li>




        </ul>
      </div>
      <div class="d-flex align-items-center ms-auto" *ngIf="!authService.isAuthenticated">
        <a class="btn btn-outline-primary btn-sm me-2" routerLink="/login">Login</a>
        <a class="btn btn-primary btn-sm" routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</nav>
